.typewriter{
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid goldenrod;
    animation: typing 0.75s step-end infinite;
}


@keyframes typing {
from, to{
    border-color: transparent;
}
50% {
    border-color: goldenrod;
}
}

.questionrow, .answerrow{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.question-box {
    float: right;
    right: 0;
    top: 0;
    width: 70%;
    height: auto;
    overflow-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 10px 0 15px;
    border-radius: 1.5rem;
}
.question {
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji,
    Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
}

.answerrow{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    align-items: flex-start;
}

.gpticon{
    height: 100%;
    width: 30px;
}

.answerbox{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-wrap: wrap;
    overflow-wrap: break-word;
    padding: 0 10px;
    line-height: 1.75;
    text-justify: inter-word;
}

/*Specific to Finished Projects */

#answerprojects img{
    max-width: 40rem;
    max-height: 36rem;
    border-radius: 1rem;
}

#answerwip img {
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 1rem;
}