*{
    box-sizing: border-box;
    overflow-x: clip;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


/* Code for  Home page starts here */

.inner_row{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #21202e;
    grid-auto-rows: auto;
}
.inner_row::before{
    content: "NLP | NLU | LLM | BERT Researcher";
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.1)
}
.leftcol{
    margin-left:5%;
}
.rightcol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.techbuttons{
    float: left;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
}
.techbuttons button{
    font-size: 0.9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    background: transparent;
    color: white;
    padding: 5px 10px;
}

.name{
    font-size: 44px;
    color:aliceblue;
}
.typing{
    display: inline-block;
}
.typing p, .tech{
    font-size: 2vw;
    color:aliceblue;
}
.typing p{
    content: "";
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    border-right: 0.12em solid #c280ee;
}
.typing p:nth-child(1){
    animation: type 5s steps(40, end);
    animation-fill-mode: forwards;
}
.typing p:nth-child(2){
    opacity: 0;
    animation: type2 5s steps(40, end) forwards,
    blinking 0.8s infinite;
    animation-delay: 5.2s;
}
@keyframes type {
    0% {width: 0}
    99.9%{border-right: 0.12em solid #c280ee;}
    100% {width: 100%;
        border: none;
    }
}
@keyframes type2{
    0%{width: 0}
    1%{opacity: 1}
    100%{width: 100%;
    opacity: 1}
}
@keyframes blinking {
from { border-color: transparent }
to {border-color: #c280ee; }
}
.learnmore{
    border-radius: 5px;
    color: antiquewhite;
    background: #1c2b3a;
    padding: 14px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
.buttons button{
    background-color: transparent;
    padding: 0.4em 0.8em;
    border-radius: 50px;
    color: aliceblue;
    cursor: text;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.circular_frame{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid firebrick;
    margin-bottom: 30px;

}
.circular_frame img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Code for Home page ends here.
Code for projects page starts here */

.subhead{
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: aliceblue;
}
hr{
    width: 16%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}
.projects_row{
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: max-content;
    padding-left: 2%;
    padding-right: 2%;
    gap: 20px;
}
.card{
    background-color: #121016;
}
.card-content{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95%;
    width: 100%;
}
.card-content img{
    width:100%;
    height: 35%;
}

/* Code for smaller screen sizes */

@media screen and (max-width: 600px) {
    .inner_row{
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        grid-auto-rows: max-content;
    }
    .education{
        grid-template-columns: 90%;
        margin-bottom: 2%;
    }
    .card {
       width: 90%;
       display: block;
       margin-bottom: 20px;
       margin-left: 2%;
       height: 550px;
    }
    .typing p{
        overflow: hidden;
        white-space: normal;
        animation: none;
    }
    .workexp, .contactform{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .tab-contents.active-tab{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .footer span{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .footer span{
        display: none;
    }
    .topnav a{
        display: none;
    }
    .contactform{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
    }
}


/* Media screen code ends here
Continuation of projects.html page css
*/

.descr{
    font-family: monospace;
    font-size: 1em;
    color: aliceblue;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.card .card-content .buttons{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 15px;
    justify-content: center;
}
.code{
    text-align: center;
    margin-top: 20px;
}
.code button{
    background-color: transparent;
    padding: 3px 10px;
    border-radius: 50px;
    border: 0.16em solid firebrick;
    transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    -ms-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
}
.code button a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}
.code button:hover{
    background-color: firebrick;
    cursor: pointer;
}
.code button.blue{
    border-color: rgb(21, 21, 172);
}
.code button.blue:hover{
    background-color: rgb(21, 21, 172);
}
.code button.yllo{
    border-color: goldenrod;
}
.code button.yllo:hover{
    background-color: goldenrod;
    cursor: pointer;
}
.code button.purple{
    border-color: #c280ee;
}
.code button.purple:hover{
    background-color: #c280ee;
    cursor: pointer;
}




/* Code for education tab starts here */

.education{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: 600px;
    padding-left: 2%;
    padding-right: 2%;
    justify-items: stretch;
    margin-top: 2%;
    gap: 20px;
}
.cards{
    margin-top: 2%;
    display: grid;
    background-color: #121016;
    position: relative;
}
.cards img{
    width: 100%;
    height: 600px;
}
.back{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    background: rgb(27, 27, 27, 0.6);
}
.cards:hover .back{
    background: rgb(10, 10, 10, 0.6);
    opacity: 1;
    visibility: visible;
    transform: scale(1.01);
    transition: all 0.8s ease-in;
}
.cards:hover img{
    transform: scale(1.01);
}
.back div{
    margin-top:15px;
    justify-content: center;
}
.back p{
    margin: 5px;
    color: aliceblue;
    font-size: 0.9em;
    text-align: center;
}
.skills button{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 50px;
    color: aliceblue;
    cursor: text;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.buttons, .skills{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
}
.buttons button:nth-child(5n), 
.skills button:nth-child(5n), 
.techbuttons button:nth-child(5n){
    border: 0.12em solid #8b69de;
}
.buttons button:nth-child(5n+1), 
.skills button:nth-child(5n+1),
.techbuttons button:nth-child(5n+1){
    border: 0.12em solid rgb(45, 20, 210);
}
.buttons button:nth-child(5n+2), 
.skills button:nth-child(5n+2),
.techbuttons button:nth-child(5n+2){
    border: 0.12em solid rgb(34, 185, 56); 
}
.buttons button:nth-child(5n+3),
.skills button:nth-child(5n+3),
.techbuttons button:nth-child(5n+3){
    border: 0.12em solid #c280ee;
}
.buttons button:nth-child(5n+4), 
.skills button:nth-child(5n+4),
.techbuttons button:nth-child(5n+4){
    border: 0.12em solid goldenrod;
}
.link button, .link2 button, .link3 button{
    text-align: center;
    margin-top: 15px;
    background-color: transparent;
    padding: 3px 10px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
}
.link, .link2, .link3{
    text-align: center;
    margin-top: 15px;
}
.link button, .link3 button{
    border: 1px solid rgb(45, 20, 210);
}
.link2 button{
    border: 1px solid #c280ee;
}
.link a, .link2 a, .link3 a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}
.link button:hover, .link3 button:hover{
    background-color: rgb(45, 20, 210);
    cursor: pointer;
}
.link2 button:hover{
    background-color: #c280ee;
    cursor: pointer;
}



/* Code for work experience page starts here */

.workexp{
    display: grid;
    grid-template-rows: 75px 1fr auto;
    row-gap: 30px;
    grid-template-columns: 1fr;
    min-height: 91vh;
}
.tab-titles{
    display: flex;
    justify-content: center;
}
.tab-links{
    margin-right: 50px;
    position: relative;
    margin-top: 2%;
    color: aliceblue;
    font-size: 1em;
    cursor: pointer;
}
.tab-links:hover{
    font-style: italic;
}
.tab-links::after{
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    background: #8b69de;
    transform: scaleX(0);
    left: 0;
    bottom: -5px;
    transition: all 0.6s ease-in;
}
.tab-links.active-link{
    color: #8b69de;
}
.tab-links:hover::after{
    transform: scaleX(1);
    transform-origin: bottom-right;
}
.tab-links.active-link::after{
    
    transform: scaleX(1);
    transform-origin: bottom-right;
}
.tab-links.active-link:hover{
    color: aliceblue;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: max-content;
    column-gap: 40px;
    row-gap: 40px;
    height: calc(91vh-75px);
}
.kpicards{
    background: aliceblue;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px rgba(255,255,255,0.2);
    text-align: center;
    padding-top:10px;
}
.card1, .card2, .card3, .card4, .card5{
    padding:10px;
}
.card0, .card2, .card4{
    align-items: center;
}
.subtitle{
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kpi{
    font-size: 0.9em;
    padding: 20 px;
}
#icon{
    background: #c280ee1f;
    color: rgb(21, 21, 172);
    border-radius: 50%;
    overflow: hidden;
    padding: 20px;
    font-size: 40px;
    cursor: pointer;
}
#icon:hover{
    color: aliceblue;
    background: rgb(21, 21, 172);
}



/* Code for contact form page */

.contactform{
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    grid-template-rows: auto;
    place-items: center;
    row-gap: 20px;
}
.social{
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
}
.social a{
    color: aliceblue;
    text-decoration: none;
    padding-left: 10px;
    margin: 10px;
}
.formhead{
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: aliceblue;
    position: relative;
}
.formhead::after{
    content: "";
    width: 10%;
    position: absolute;
    background: #c280ee;
    left: 45%;
    bottom: -5px;
    height: 4px;
}
form{
    margin: 0;
    text-align: center;
    background-color: rgba(242, 242, 242, 0.5);
    padding: 40px 20px;
    border-radius: 10px;
    min-width: 400px;
}
input[type="text"], input[type = "email"], input[type = "tel"] {
    width: 80%;
    text-align: center;
    padding: 12px 25px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
}
input[type="submit"]{
    background:rgb(21, 21, 172);
    color: aliceblue;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}
input[type="submit"]:hover{
    color: rgb(21, 21, 172);
    background: aliceblue;
    transition: all 1s ease;
}
/*Code for submit page*/
.success{
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    width: 80%;
    background: rgb(34, 185, 56, 0.2);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid rgb(34, 185, 56);
    color: aliceblue;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
}